:root {
	font-size: 16px;
}

body {
	background-color: var(--bodyBG);
	color: var(--bodyText);
	font-family: Geneva, Tahoma, sans-serif;
	font-size: 150%;
	line-height: 1.7;
	position: relative;
}

svg {
	display: block;
}


.font-loaded {
	font-family: "LatoLatin", Geneva, Tahoma, sans-serif;
}

a {
	color: var(--linkColor);

	&:hover {
		color: var(--linkColor--hover);
	}
}

.more-link {
	text-align: right;
	margin-top: rem(18);
}

.section-heading {
	font-size: em(24);
	margin-top: rem(64);
}

code:not([class]) {
	color: var(--codeColor);
	background-color: var(--codeBgColor);
	font-size: em(14, 18);
	line-height: 1.29;
	border-radius: rem(4);
	padding: rem(2) rem(6);
	display: inline-block;
	margin-right: .25ch;
	margin-left: .25ch;
}

.highlighted {
	font-weight: 900;
	color: var(--highlightedColor);
	text-shadow: 1px 1px var(--blue);
}



.sprites {
	display: none;
}

::selection {
  background-color: var(--selection);
	color: var(--selectionText);
}
