:root {
	--black: hsl(0, 0%, 0%);
	--blueBlack: hsl(207, 15%, 12%);
	--pink: hsl(327, 100%, 53%);
	--purple: hsl(328, 69%, 41%);
	--yellow: hsl(53, 100%, 59%);
	--offWhite: hsl(61, 87%, 93%);
	--cyan: hsl(186, 100%, 59%);
	--blueGreen: hsl(186, 94%, 36%);
	--yellowGreen: hsl(76, 69%, 41%);
	--greenYellow: hsl(76, 100%, 56%);
	--green: hsl(152, 69%, 41%);
	--neonGreen: hsl(152, 100%, 51%);
	--grayBlue: hsl(206, 21%, 36%);
	--darkBlue: hsl(206, 14%, 11%);
	--maroon: hsl(0, 9%, 12%);
	--army: hsl(61, 18%, 37%);
	--blue: hsl(204, 16%, 12%);
	--slate: hsl(206, 27%, 64%);
	--malicePurple: hsl(308, 100%, 25%);
}
