@font-face {
	font-family: Lato;
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url(https://assets.tattooed.dev/fonts/lato/LatoLatin-Regular-subset.woff2) format('woff2');
}

@font-face {
	font-family: LatoItalic;
	font-style: italic;
	font-weight: normal;
	font-display: swap;
	src: url(https://assets.tattooed.dev/fonts/lato/LatoLatin-Italic-subset.woff2) format('woff2');
}

@font-face {
	font-family: LatoBold;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(https://assets.tattooed.dev/fonts/lato/LatoLatin-Bold-subset.woff2) format('woff2');
}
