{% extends "layouts/base.html" %}

{% block content %}
	<div class="standard-page container">
		<h1 class="page-heading">This is my website.</h1>
		<p class="prominent-content">I'm pretty proud of it, and I'd like to tell you about it.</p>
		<p>This site was made in Jackson, Mississippi.</p>
		<p>I created the illustrations throughout the site.</p>
		<p>The topography texture used on blog posts is from <a href="https://heropatterns.com/">Hero Patterns</a>.</p>
		<p>All text is set in Lato, designed by <a href="http://www.lukaszdziedzic.eu/">Łukasz Dziedzic</a>.</p>

		<h2 class="subheading">The sky is progressively enhanced.</h2>
		<p>The stars are never the same. I use the CSS Painting API to fill the page background with a randomly-positioned number of stars relative the viewport size.</p>
		<p>The moon illustration and the site's favicon reflect the current phase of the moon. I'm going to be honest with you, I think it's right. Converting a numerical date to a lunar phase is a learning adventure.</p>
	</div>
{% endblock %}
