{% extends "layouts/base.html" %}

{% block content %}
	<div class="standard-page container">
		<h1 class="page-heading">I love building things that solve problems.</h1>
		<p class="stinger">Wherever they are.</p>

		<p class="prominent-content">My job title is always a variation of "web developer." I jump between layers of the web stack&mdash;front-end to back-end, dev-ops to the delete key.</p>
		<p class="prominent-content">I have manufactured, migrated, and maintained websites and software for coffee shops, newspapers, and global software companies. No matter the scale, I help teams build and deploy <b class="highlighted">performant</b>, <b class="highlighted">scalable</b>, and <b class="highlighted">useful</b> websites.</p>

		<h2 class="subheading">Building for browsers</h2>
		<p>I'm a big fan of web standards. <b class="highlighted">HTML</b>, <b class="highlighted">CSS</b>, and <b class="highlighted">JavaScript</b> are pretty dang powerful tools by themselves. My expertise in the fundamentals of the web allows me to build from scratch or pick up an existing codebase, with or without a chonky framework.</p>
		<p>Regardless of the git history, I build with <b class="highlighted">performance</b>, <b class="highlighted">security</b>, and <b class="highlighted">accessibility</b> in mind, and I help teams understand the balancing act between these values and business needs. This includes the importance of <b class="highlighted">Core Web Vitals</b> on SEO and visitor conversion.</p>

		<h2 class="subheading">Building for servers</h2>
		<p>I've spent my career writing <b class="highlighted">PHP</b> in some form, whether for a content management system or a stand-alone application.</p>
		<p>I use <b class="highlighted">Node</b> for most of my side projects, and I am (slowly) learning Rust.</p>
		<p>I'm also at home in <b class="highlighted">DevOps</b>, automating tests and build processes using tools like <b class="highlighted">Jenkins</b>, and monitoring tools like <b class="highlighted">Grafana</b>, <b class="highlighted">Loki</b>, <b class="highlighted">Prometheus</b>, and <b class="highlighted">InfluxDB</b>.</p>
		<p>I'm especially interested in automating content publishing and syndication as of late, working almost exclusively with <b class="highlighted">CraftCMS</b>, but I am also familiar with ExpressionEngine and WordPress.</p>
		<p>I've built form-processing applications in front of <b class="highlighted">Eloqua</b>, with some familiarity with <b class="highlighted">Marketo</b>.</p>
		<p>In both professional and hobby projects, I've developed in <b class="highlighted">DigitalOcean</b>, <b class="highlighted">AWS</b>, and <b class="highlighted">Netlify</b> environments.</p>
		<p>I secretly love writing <b class="highlighted">Docker</b> Compose files.</p>
		<p>I am enrolled in school part-time for degrees in networking and cybersecurity.</p>

		<h2 class="subheading">Interested in working together?</h2>
		<p>I'm not actively looking for full-time work, but if you've got an interesting opportunity, I'd love to hear about it.</p>
		<p>My email is my first name at this site's domain.</p>
		<p>I am not taking on freelance work at the moment.</p>
	</div>
{% endblock %}
