{% extends "layouts/base.html" %}

{% set omitNav = true %}
{% set pageCss = 'homepage.css' %}

{% block content %}
	<div class="homepage takeover">
		<div class="homepage-lich">
			<svg width="100%" height="100%" viewBox="0 0 1469 2109" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:1.5;">
				<defs>
					<style>
						.lich-background-main-a {
							fill: var(--theme_lichBGMainA, hsl(186, 100%, 24.5%));
						}
						.lich-background-main-b {
							fill: var(--theme_lichBGMainB, hsl(186, 100%, 59%));
						}
						.lich-skull-base {
							fill: var(--theme_lichSkull, hsl(64deg 33% 84%));
						}
						.lich-skull-eyes {
							fill: var(--theme_lichSkullEyes, rgb(38,38,38));
						}
						.lich-skull-nose {
							fill: var(--theme_lichSkullNose, rgb(38,38,38));
						}
						.lich-crown-back {
							fill: var(--theme_lichCrownBack, rgb(145,115,0));
						}
						.lich-crown-front {
							fill: var(--theme_lichCrownFront, rgb(255,202,0));
						}
						.lich-crown-ridge {
							stroke: var(--theme_lichCrownRidge, rgb(234,147,19));
						}
					</style>
				</defs>
				<g transform="matrix(1,0,0,1,-282,-46)">
					<path class="lich-background-main-a" d="M994.961,45.354L282.52,1218.9L1027.09,2154.33L1750.87,1661.1L994.961,45.354Z"/>
					<path class="lich-background-main-b" transform="matrix(0.711894,-8.71819e-17,8.71819e-17,0.711894,296.561,390.124)" d="M960.452,-74.101L160.41,1197.66L1106.72,2218.04L1843.78,1597.39L960.452,-74.101Z"/>
				</g>
				<g id="lich" transform="matrix(1,0,0,1,171.543,263.921)">
					<path class="lich-skull-base" transform="matrix(1.55692,-0.0548068,0.0525451,1.49267,-3251.92,-743.808)" d="M2177.48,1108.61L2683.35,1124.51L2647.87,1454.24L2542.71,1543.96L2508.45,1499.31L2530.82,1602.85L2268.85,1594.95L2305.01,1483.98L2268.78,1538.23L2155.34,1410.89L2177.48,1108.61Z" style=";stroke: hsl(64deg 33% 44%);stroke-width: 2px;"/>
					<path class="lich-skull-eyes" transform="matrix(1.57101,-0.176816,0.20208,1.79548,-3456.75,-638.53)" d="M2235.79,1126.42L2227.4,1200.22L2357.62,1265.68L2401.21,1117.22L2235.79,1126.42Z"/>
					<path class="lich-skull-eyes" transform="matrix(-1.6858,-0.185888,-0.193162,1.75177,4860.27,-555.545)" d="M2235.79,1126.42L2227.4,1200.22L2357.62,1265.68L2401.21,1117.22L2235.79,1126.42Z"/>
					<path class="lich-skull-nose" transform="matrix(-3.28476,-0.626684,-0.709468,3.13299,9156.22,-779.221)" d="M2375.54,1106.98L2369.46,1153.45L2385.51,1128.94L2375.54,1106.98Z"/>
					<path class="lich-skull-nose" transform="matrix(3.32792,-0.461522,0.794146,3.11582,-8213.68,-1151.77)" d="M2375.54,1106.98L2369.46,1153.45L2385.51,1128.94L2375.54,1106.98Z"/>
					<path class="lich-crown-back" transform="matrix(1.4936,0,0,1.4936,-2965.98,-1253.27)" d="M2079.26,1165.59L2133.39,997.064C2133.39,997.064 2233.48,1117.74 2234.19,1109.78C2234.89,1101.83 2293.77,1030.19 2293.77,1030.19L2384.52,1119.37L2464.37,1021.24L2526.88,1114.58L2629.14,1027.81L2694.16,1157.8L2376.23,1327.74L2079.26,1165.59Z"/>
					<path class="lich-crown-front" transform="matrix(1.4936,0,0,1.4936,-2965.98,-1264.27)" d="M1985.8,959.618L2085.75,1448.15L2377.49,1472.3L2667.38,1458.08L2789.23,949.944L2584.79,1171.84L2533.49,974.075L2452.11,1165.66L2408.41,846.554L2306.3,1166.09L2219.72,973.282L2176.58,1170.75L1985.8,959.618Z"/>
					<path class="lich-crown-ridge" transform="matrix(1.4936,0,0,1.4936,-2965.98,-1253.27)" d="M2641.18,1410.68L2737.85,1057.07" style="fill:none;stroke-width:8.37px;"/>
					<path class="lich-crown-ridge" transform="matrix(1.4936,0,0,2.14874,-2965.98,-1971.2)" d="M2372.09,1254.84L2350.63,1162.47L2383.59,1095.84L2405.21,1164.52L2372.09,1254.84Z" style="fill:none;stroke-width:6.76px;"/>
					<path class="lich-crown-ridge" transform="matrix(1.4936,0,0,1.4936,-2965.98,-1253.27)" d="M2058.37,1167.46L2109.13,1420.78L2169.21,1424.37" style="fill:none;stroke-width:7.23px;"/>
					<path class="lich-crown-ridge" transform="matrix(0.999945,-0.0105181,0.0105181,0.999945,-462.456,-278.991)" d="M852.404,862.901L816.408,942.503L904.107,1154.63" style="fill:none;stroke-width:12.5px;stroke-linecap:round;"/>
					<path class="lich-crown-ridge" transform="matrix(-0.982598,-0.185744,-0.185744,0.982598,1768.67,-112.967)" d="M882.705,830.483L845.452,913.865L904.107,1154.63" style="fill:none;stroke-width:12.5px;stroke-linecap:round;"/>
				</g>
			</svg>
		</div>
		<div class="homepage-intro">
			<h1 class="page-heading homepage-heading">Hi. I'm Vince Falconi.</h1>
		</div>
		<div class="homepage-photo">
			<picture>
				<source type="image/avif"
					media="(min-width: 850px)"
					srcset="https://assets.tattooed.dev/images/pages/homepage-portrait-2022-large-2x.avif 2x,
									https://assets.tattooed.dev/images/pages/homepage-portrait-2022-large-15x.avif 1.5x,
									https://assets.tattooed.dev/images/pages/homepage-portrait-2022-large-1x.avif 1x" />
				<source type="image/avif"
					srcset="https://assets.tattooed.dev/images/pages/homepage-portrait-2022-small-2x.avif 2x,
									https://assets.tattooed.dev/images/pages/homepage-portrait-2022-small-15x.avif 1.5x,
									https://assets.tattooed.dev/images/pages/homepage-portrait-2022-small-1x.avif 1x" />
				<source type="image/webp"
					media="(min-width: 850px)"
					srcset="https://assets.tattooed.dev/images/pages/homepage-portrait-2022-large-2x.webp 2x,
									https://assets.tattooed.dev/images/pages/homepage-portrait-2022-large-15x.webp 1.5x,
									https://assets.tattooed.dev/images/pages/homepage-portrait-2022-large-1x.webp 1x" />
				<source type="image/webp"
					srcset="https://assets.tattooed.dev/images/pages/homepage-portrait-2022-small-2x.webp 2x,
									https://assets.tattooed.dev/images/pages/homepage-portrait-2022-small-15x.webp 1.5x,
									https://assets.tattooed.dev/images/pages/homepage-portrait-2022-small-1x.webp 1x" />
				<source type="image/jpeg"
					media="(min-width: 850px)"
					srcset="https://assets.tattooed.dev/images/pages/homepage-portrait-2022-large-2x.jpg 2x,
									https://assets.tattooed.dev/images/pages/homepage-portrait-2022-large-15x.jpg 1.5x,
									https://assets.tattooed.dev/images/pages/homepage-portrait-2022-large-1x.jpg 1x" />
				<source type="image/jpeg"
					srcset="https://assets.tattooed.dev/images/pages/homepage-portrait-2022-small-2x.jpg 2x,
									https://assets.tattooed.dev/images/pages/homepage-portrait-2022-small-15x.jpg 1.5x" />

				<img src="https://assets.tattooed.dev/images/pages/homepage-portrait-2022-small-1x.jpg" alt="" width="320" height="320" sizes="192px, (min-width: 850px) 320px" />
			</picture>
		</div>
		<div class="homepage-stinger">
			<p>I'm a web developer, but I'm also <b class="highlighted" data-description>a tattoo-collector</b>, <b class="highlighted" data-description>a weightlifter</b>, and <b class="highlighted" data-description>a gardener</b>.</p>
		</div>
		<div class="homepage-content">
			<p>Because I'm a web developer with a website, I'm obliged to tell you&mdash;I'm a web developer, and this is my website.
			<p>If you want to know what I think about software? Where my last adventure took me? I have got <a href="/wrote/">some words</a> for you.</p>
			<p>If you've got a project you want to talk about, <a href="for-hire">I want to hear about it</a>.</p>
		</div>
	</div>
	<script src="{{ macros.cachebust('/assets/homepage.js') }}"></script>
{% endblock %}
