.landscape-wrapper {
	padding-top: rem(128);

	img {
		max-width: 100%;
		height: auto;
		display: block;
		margin-left: auto;
	}
}

.homepage {
	background-color: var(--homepageBG);
	padding: rem(32);
	grid-column: full;

	@media screen and (min-width: rem(980)) {
		display: grid;
		grid-template-columns: [full-start left-start] 1fr [left-end right-start] 1fr [right-end full-end];
		grid-template-rows: max-content;
		grid-gap: rem(32);
	}
}

.homepage-picture {
	grid-column: right;
	grid-row: 1;
	align-self: start;
	position: relative;
	max-width: max-content;

	@media screen and (max-width: rem(980)) {
		margin-right: auto;
		margin-left: auto;
		margin-bottom: rem(32);
	}

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: rem(16); right: rem(16); bottom: rem(16); left: rem(16);
		border: 8px solid #20B370;
		mix-blend-mode: color-dodge;
	}

	img {
		width: 100%;
		height: auto;
		display: block;
	}
}

.homepage__content {
	@media screen and (min-width: rem(980)) {
		grid-column: left;
		grid-row: 1 / 3;
	}

	@media screen and (min-width: rem(1140)) {
		transform: translateY(#{rem(-96)});
	}
}

.homepage__heading {
	margin-top: 0;
}

.homepage__identity {
	grid-column: right;
	grid-row: 2;
	justify-self: start;
	align-self: start;
}



.homepage__text-box {
	margin-bottom: rem(32);
	background-color: var(--homepageContent);
	padding: rem(48);
	border: 2px solid var(--blueBlack);
	box-sizing: border-box;
	position: relative;
	z-index: 0;

	&:before {
		content: '';
		display: block;
		border: 2px dotted var(--homepageContentBorder);
		position: absolute;
		top: rem(16);
		right: rem(16);
		bottom: rem(16);
		left: rem(16);
		mix-blend-mode: color-dodge;
		z-index: -1;
	}
}
