.blog-post__foonotes {
	margin-top: rem(32);
	padding-top: rem(32);
	border-top: rem(2) solid $blogPostFootnoesBorder;
	font-size: em(14);

	ol {
		margin: 0;
		padding-left: 0;
	}

	li + li { margin-top: rem(16); }

	:target {
		background-color: $blogPostFootnotesHighlightBG;
		color: $blogPostFootnotesHighlight;
		padding: rem(8);
	}
}
