.blog-header {
	margin-bottom: rem(32);
	padding-bottom: rem(32);
	border-bottom: rem(2) solid $blogPostHeaderBorder;
	color: $blogPostHeaderText;
}

.blog-header__heading {
	color: $blogPostHeading;
	font-size: em(48);
	line-height: 1.3;
	text-shadow: rem(2) rem(2) $blogPostHeadingShadow;
}

.blog-header__dateline { font-style: italic; }

.blog-header__description {
	font-size: em(24);
	margin: 0 0 rem(16);
}
