:root {
	font-size: 16px;
}

body {
	background-color: var(--bodyBG);
	color: var(--bodyText);
	font-family: "LatoLatin", sans-serif;
	font-size: em(18);
	line-height: 1.7;
}

a {
	color: var(--linkColor);

	&:hover {
		color: var(--linkColor--hover);
	}
}

.more-link {
	text-align: right;
	margin-top: rem(18);
}

.section-heading {
	font-size: em(24);
}

code {
	background-color: var(--codeBgColor);
	font-size: em(14, 18);
	line-height: 1.29;
	border-radius: rem(4);
	padding: rem(2) rem(6);
	display: inline-block;
	margin-right: .25ch;
	margin-left: .25ch;
}

.highlighted {
	font-weight: 900;
	color: var(--highlightedColor);
}

.homepage-portrait {
	display: block;
	margin: 0 auto;
	border: 8px solid var(--imageBorderColor);
	border-radius: 50%;
	max-width: rem(200);
	height: auto;
	box-sizing: border-box;
}

.skip-link:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.skip-link {
	background-color: var(--skipLinkBgColor);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: block;
	z-index: 999999;
	text-align: center;
	padding: 3rem;
	margin: 2rem;
	font-size: em(48, 18);
}

.sprites {
	display: none;
}

svg {
	display: block;
}
