:root { font-size: 16px; }

body {
	background-color: $bodyBG;
	color: $bodyText;
	font-family: "OpenSans", sans-serif;
}

a {
	color: $linkColor;

	&:focus,
	&:hover { color: $linkColor--hover; }
}

.more-link { float: right; }
.highlighted {
	font-weight: bold;
	color: $highlightedColor;
	font-style: italic;
}

code {
	background-color: $inlineCodeBG;
	color: $inlineCodeText;
	font-size: em(14);
	line-height: em(16, 14);
	border-radius: rem(4);
	padding: rem(2) rem(6);
	display: inline-block;
	margin-right: .25ch;
	margin-left: .25ch;
}
