:root {
	--blogHeadingSize: #{em(54, 18)};
	--blogSubheadingSize: #{em(24, 18)};

	@media screen and (min-width: rem(425)) {
		--blogHeadingSize: #{em(72, 18)};
		--blogSubheadingSize: #{em(30, 18)};
	}

	@media screen and (min-width: rem(700)) {
		--blogHeadingSize: #{em(90, 18)};
		--blogSubheadingSize: #{em(36, 18)};
	}
}

.blog-heading {
	font-size: var(--blogHeadingSize);
	color: var(--yellow);
	line-height: 1.1;
	font-weight: 900;
	text-shadow: 3px 3px #111, 5px 5px var(--pink);
}

.blog-dateline {
	font-style: italic;
	color: var(--blogDatelineColor);
}

.blog-description {
	font-size: em(28, 18);
	margin-bottom: rem(16);
	color: var(--blogSummaryColor);
	font-weight: bold;
}


.blog-post {
	grid-column: wide;
}

.blog-post h2:not([class]) {
	font-size: var(--blogSubheadingSize);
	color: var(--blogSubheadingColor);
}

.blog-post h3:not([class]) {
	font-size: em(18, 18);
}

.blog-post img:not([style]):not([class]) {
	display: block;
	margin: rem(40) auto;
	//border: 8px solid var(--imageBorderColor);
	//padding: rem(16);
	box-shadow: rem(16)	rem(-16) var(--bodyBG), rem(24) rem(-24) var(--imageShadow),
		rem(-16)	rem(16) var(--bodyBG), rem(-24) rem(24) var(--imageShadow);
	width: 100%;
	height: auto;
	box-sizing: border-box;
}
