.quote {
	background-color: var(--white);
	color: var(--black);
	line-height: 1.65;
	padding: rem(32);
	margin-top: rem(48);
	margin-bottom: rem((48 + 8));
	box-sizing: border-box;
	border: 9px solid var(--silver);
	font-size: 120%;

	blockquote { margin: 0; }

	figcaption {
		margin-top: rem(24);
		text-align: right;
	}
}
