:root {
	// colors
	--darkBlue: #00212e;
	--mutedBlue: #9FCCDB;
	--silver: #cccccc;
	--lightBlue: #83BDD2;
	--blueGray: #203942;
	--gray: #505c61;

	// uses
	--bodyBG: var(--darkBlue);
	--bodyText: var(--white);

	--site-footer-bg: var(--black);
	--site-footer-text: var(--silver);
	--site-footer-link--hover: var(--mutedBlue);

	--linkColor: var(--yellow);
	--linkColor--hover: var(--mutedBlue);

	--codeBgColor: var(--gray);

	--highlightedColor: var(--limeGreen);

	--imageBorderColor: var(--gray);

	--skipLinkBgColor: var(--darkBlue);

	--quoteBgColor: var(--darkBlue);
	--quoteBorderColor: var(--darkBlue);
	--quoteTextColor: var(--silver);
	--quoteBoxShadowColor: var(--limeGreen);

	--blogHeadingColor: var(--pink);
	--blogSummaryColor: var(--silver);

	--footnoteArrowColor: var(--mutedBlue);

	--pageHeaderBgColor: var(--darkBlue);
	--pageHeaderBorderColor: var(--lightBlue);
	--pageHeaderBoxShadowColor: var(--blueGray);

	--datelineColor: var(--white);

	--siteNavLinkColor: var(--white);
	--siteNavLinkColor--hover: var(--white);
	--siteNavShapeColor: var(--gray);

	--tableHeadBorderColor: var(--darkBlue);
	--tableHeadCellColor: var(--darkBlue);
	--tableBodyBorderColor: var(--silver);

	--sigil-triangle-outline: var(--black);
	--hands-outline: var(--black);
	--hand-fingernail-outline: var(--black);
	--hands-outline: var(--black);
	--finger-line: var(--black);
	--orbit-outline: var(--black);
	--spiral: var(--lightBlue);
}
