:root {
	// light mode

	// colors
	--white: #ffffff;
	--silver: #cccccc;
	--black: #111111;
	--pink: #ff1493;
	--darkPink: #DB00B0;
	--yellow: #ffde00;
	--green: #6cff00;
	--limeGreen: #adff2f;
	--darkBlue: #063243;
	--darkerBlue: #00212e;
	--lightBlue: #00b8ff;
	--mutedBlue: #33758e;
	--paleBlue: #a3b7d0;

	// uses
	--bodyBG: var(--white);
	--bodyText: var(--black);
	--site-footer-bg: var(--darkBlue);
	--site-footer-text: var(--silver);
	--site-footer-link: var(--yellow);
	--site-footer-link--hover: var(--green);
	--linkColor: var(--darkPink);
	--linkColor--hover: var(--mutedBlue);
	--codeBgColor: var(--silver);
	--highlightedColor: var(--mutedBlue);
	--imageBorderColor: var(--paleBlue);
	--skipLinkBgColor: var(--darkBlue);
	--quoteBgColor: var(--white);
	--quoteTextColor: var(--black);
	--quoteBorderColor: var(--silver);
	--quoteBoxShadowColor: var(--limeGreen);
	--blogHeadingColor: var(--pink);
	--blogSummaryColor: var(--mutedBlue);
	--footnoteArrowColor: var(--mutedBlue);
	--pageHeaderBgColor: var(--white);
	--pageHeaderBorderColor: var(--silver);
	--pageHeaderBoxShadowColor: var(--white);
	--datelineColor: var(--darkBlue);
	--siteNavBgColor: var(--white);
	--siteNavLinkColor: var(--black);
	--siteNavLinkColor--hover: var(--black);
	--siteNavShapeColor: var(--lightBlue);
	--tableHeadBorderColor: var(--darkBlue);
	--tableHeadCellColor: var(--darkBlue);
	--tableBodyBorderColor: var(--silver);
	--socialIconFill: var(--yellow);
	--socialIconFill--hover: var(--green);

	--introHeading: var(--white);
	--introHeadingBG: var(--darkPink);
	--introHeadingShadow: var(--black);
	--introShadow: var(--lightBlue);
}
