$white: #ffffff;
$silver: #cccccc;
$black: #111111;
$pink: #ff1493;
$yellow: #ffde00;
$green: #6cff00;
$limeGreen: #adff2f;
$darkBlue: #063243;
$lightBlue: #00b8ff;
$mutedBlue: #33758e;
$paleBlue: #a3b7d0;

// --------------------
// base palettes
// --------------------
$bodyBG: $darkBlue;
$bodyText: $white;

$linkColor: $lightBlue;
$linkColor--hover: $limeGreen;
$highlightedColor: $pink;

$pageHeadingColor: $pink;
$pageHeadingShadow: $black;

// --------------------
// component palettes
// --------------------

// Blockquotes
$blockquoteBG: $white;
$blockquoteText: $black;
$blockquoteShadow: $limeGreen;
$blockquoteLink: $darkBlue;
$blockquoteLinkHover: $mutedBlue;

// Blog Post
$blogPostHeading: $pink;
$blogPostHeadingShadow: $black;
$blogPostHeaderBorder: $mutedBlue;
$blogPostHeaderText: $silver;
$blogPostSectionHeading: $white;
$blogPostSectionHeadingShadow: $black;

$blogSummaryBorder: $black;

// Blog Post Images
$blogPostImageBorder: $silver;

// Blog Post Footnotes
$blogPostFootnoesBorder: $mutedBlue;
$blogPostFootnotesHighlightBG: $limeGreen;
$blogPostFootnotesHighlight: $black;

// Homepage
$homepageBioBG: $black;
$homepageBioBorder: $black;
$homepageHeading: $black;
$homepageHeadingBackground: $lightBlue;
$homepageHeadingShadow: $white;
$homepageHeaderBorder: $black;
$homepageImageBackground: $black;
$homepageImageBorder: $white;
$homepageSpiralStroke: $black;
$homepageSpiralStrokeAnimationStart: $pink;
$homepageSpiralStrokeAnimationMiddle: $green;
$homepageSpiralStrokeAnimationEnd: $pink;

// Social Icons
$socialIconBackground: $white;
$socialIconBackgroundHover: $green;

// site footer
$siteFooterBackground: $black;
$siteFooterText: $white;
