@font-face {
  font-family: LatoLatin;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/fonts/lato/LatoLatin-Regular.woff2) format("woff2"),
    url(/assets/fonts/lato/LatoLatin-Regular.woff) format("woff"),
    url(/assets/fonts/lato/LatoLatin-Regular.ttf) format("truetype");
}

@font-face {
  font-family: LatoLatin;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(/assets/fonts/lato/LatoLatin-Italic.woff2) format("woff2"),
    url(/assets/fonts/lato/LatoLatin-Italic.woff) format("woff"),
    url(/assets/fonts/lato/LatoLatin-Italic.ttf) format("truetype");
}

@font-face {
  font-family: LatoLatin;
  font-weight: 700;
  font-display: swap;
  src: url(/assets/fonts/lato/LatoLatin-Bold.woff2) format("woff2"),
    url(/assets/fonts/lato/LatoLatin-Bold.woff) format("woff"),
    url(/assets/fonts/lato/LatoLatin-Bold.ttf) format("truetype");
}

@font-face {
  font-family: LatoLatin;
  font-weight: 900;
  font-display: swap;
  src: url(/assets/fonts/lato/LatoLatin-Black.woff2) format("woff2"),
    url(/assets/fonts/lato/LatoLatin-Black.woff) format("woff"),
    url(/assets/fonts/lato/LatoLatin-Black.ttf) format("truetype");
}
