.blog-footnotes {
	grid-column: right-content;
	overflow: hidden;
}

.blog-footnotes-heading {
	font-size: em(18, 18);
}


.footnote {
	position: relative;
	font-size: em(14, 18);
}

.footnote:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	opacity: 0;
	background-color: var(--yellow);
	transform: scale(1.2);
	transition: opacity .1s linear;
}

.footnote:target:before {
	opacity: 1;
}
