.footnotes-heading {
	font-size: em(18, 18);
}

.footnotes-list {
	padding-left: 0;
}

.footnote {
	position: relative;
	font-size: em(14, 18);
	transition: color .1s linear;
	margin-bottom: rem(24);
}

.footnote:target {
	color: var(--footnotesHighlightColor);
}
