.intro {
	grid-column: wide;
	max-width: rem(900);

	@media screen and (min-width: rem(738)) {
		justify-self: end;
		display: grid;
		grid-template-rows: repeat(3fit-content(#{rem(200)}));
		grid-template-columns: minmax(0, #{rem(300)}) minmax(0, #{rem(300)}) minmax(0, #{rem(300)});
	}
}

.intro-heading {
	grid-column: 2 / -1;
	grid-row: 1 / 3;
	align-self: end;
	justify-self: end;
	margin: 0;
	transform: translateY(#{rem(32)});
}

.intro-message {
	grid-column: 2 / -1;
	grid-row: 3;
	font-size: 120%;
	padding: rem(32) rem(16);
}

.intro-picture {
	grid-column: 1 / 3;
	grid-row: 1 / 3;
	align-self: end;
}

.intro-img {
	display: block;
	max-width: 100%;
	height: auto;
	box-shadow: rem(8) rem(8) var(--introShadow);
	transform: rotate(-4deg);
}

.recent-posts {
	grid-column: 2 / 10;
}
