.landscape-wrapper {
	background-color: var(--black);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}

.starscape,
.landscape {
	width: 100%;
	max-height: rem(600);
}

.star-layer {
	grid-column: 1;
	grid-row: 1;
	max-height: rem(600);
}

.star--animate:nth-child(odd) {
	animation: 2s linear 0s infinite blink;
}
.star--animate:nth-child(even) {
	animation: 4s ease-in 0s infinite blink;
}

@keyframes blink {
	0% {
		opacity: 1;
		fill: #FEE728;
		stroke: #6ACCE6;
	}
	50% {
		opacity: .25;
		fill: #6ACCE6;
		stroke: #FEE728;
	}
	100% {
		opacity: 1;
		fill: #FEE728;
		stroke: #6ACCE6;
	}
}

.landscape-layer {
	grid-column: 1;
	grid-row: 1;
	max-height: rem(600);
}

#landscape-moon {

}

.moon {
	max-width: rem(1030);
}

#landscape-mountains {
	align-self: end;
}

.homepage {
	display: grid;
	grid-template-columns: [full-start left-start] 1fr [left-end right-start] 1fr [right-end full-end];
	grid-gap: rem(32);
	transform: translateY(#{rem(-120)});
	max-width: rem(900);
	margin-right: auto;
	margin-bottom: rem(-152);
	margin-left: auto;
	padding: rem(32);
}

.welcome {
	grid-column: left;
	grid-row: 1;
}

.homepage-picture {
	grid-column: right;
	grid-row: 1;
}

.homepage__content {
	grid-column: full;
}

.intro-img {
	max-width: 100%;
	height: auto;
	display: block;
}
