:root {
	--grid-max-width: #{rem(1200)};
	--grid-offset: #{rem(128)};
	--grid-gap: #{rem(32)};
	--main-grid: [full-start] 1fr [full-content-start left-sidebar-start] repeat(2, 1fr) [left-sidebar-end main-content-start] repeat(6, 1fr) [main-content-end right-sidebar-start] repeat(2, 1fr) [right-sidebar-end full-content-end] calc(100vw - var(--grid-max-width)) [full-end];
}



[role="main"] {
	padding-top: #{rem(150)};
	display: grid;
	grid-template-columns: var(--main-grid);
	grid-column-gap: var(--grid-gap);
}



.container {
	grid-area: full-content;

	@media screen and (min-width: rem(755)) {
		grid-area: main-content;
	}
}
