ul:not([class]):not([style]),
ol:not([class]):not([style]) {
	margin: rem(18) 0;
	padding-left: rem(48);
}

.flat-list {
	margin: rem(18) 0;
	padding-left: 0;
	list-style: none;

	li {
		margin-left: rem(18);
		text-indent: rem(-18);
	}
}

.flat-list--two-column {
	@media screen and (min-width: rem(400)) {
		columns: 2;
	}
}

.flat-list--three-column {

	@media screen and (min-width: rem(400)) {
		columns: 2;
	}

	@media screen and (min-width: rem(600)) {
		columns: 3;
	}
}
