@media screen and (min-width: rem(600)) {
	.mo {
		display: flex;
	}

	.mo-media + .mo-body,
	.mo-body + .mo-media { margin-left: rem(36); }

	.mo-body {
		flex: 1 1 auto;
	}

	.mo-media {
		flex: 1 1 100%;
	}
}

.mo-media img,
.mo-media .image-reveal {
	display: block;
	margin: 0 auto;
}
