.page-header {
	box-sizing: border-box;
	display: grid;
	grid-template-columns: var(--main-grid);
	grid-column-gap: var(--grid-gap);
	background-color: var(--pageHeaderBgColor);
	position: sticky;
	top: 0;
	z-index: 1;
	border-bottom: 1px solid var(--pageHeaderBorderColor);
	box-shadow: rem(2) rem(2) 10px var(--pageHeaderBoxShadowColor);
	overflow: hidden;
}

.header-mark {
	grid-column: right-sidebar;
	padding: rem(16);
	box-sizing: border-box;
}

.site-nav-wrapper {
	display: flex;
	align-items: flex-end;
	grid-column: main-content;
	justify-content: flex-end;
}
