.page-header {
	box-sizing: border-box;
	background-color: var(--pageHeaderBgColor);
	margin-bottom: rem(32);
	border-bottom: 1px solid var(--pageHeaderBorderColor);
	overflow: hidden;
}

.header-mark {
	grid-row: 1;
	grid-column: 2;
	padding: rem(16) 0;
	transform: scale(1.4) translateX(#{rem(-32)});
}

.site-nav-wrapper {
	grid-row: 1;
	grid-column: 3;
	align-self: end;
}
