.page-header {
	box-sizing: border-box;
	background-color: var(--pageHeaderBgColor);
	border-bottom: 1px solid var(--pageHeaderBorderColor);
	overflow: hidden;
}

.nav-wrapper {
	display: flex;
	grid-column: wide;
}

.header-mark {
	padding: rem(8) 0;
	transition: transform .15s linear;

	&:hover {
		transform: rotate(16deg);
	}
}

.site-nav-wrapper {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;

	@media screen and (min-width: rem(655)) {
		grid-column: main-content;
	}
}
