.sigil {
	max-width: rem(300);
	margin: 0 auto;
	display: block;

	@media (max-width: rem(750)) {
		width: 150px;
	}
}

.triangle_outline { fill: var(--black); }
.triangle_shape { fill: url(#triangleGradient); }
.triangle-stop1 { stop-color: var(--pink); }
.triangle-stop2 { stop-color: var(--black); }

.open-hand_shape,
.horn-hand_shape,
.horn-hand_thumb { fill: var(--lightBlue); }

.horn-hand_outline,
.open-hand_outline {
	stroke: var(--black);
	stroke-width: 2;
}

.horn-hand_fingernail { fill: var(--darkBlue); }
.horn-hand_fingernail-outline { fill: var(--black); }

.horn-hand_outline {
	stroke-width: 2;
	stroke: var(--black);
}

.finger-line { fill: var(--black); }
.palm-line { fill: var(--darkBlue); }

.orbit_shape { fill: var(--limeGreen); }
.orbit_outline { fill: var(--black) }

#sigil_spiral { fill: var(--black); }

.sigil:hover #open-hand { opacity: 0; }
#horn-hand { opacity: 0; }
.sigil:hover #horn-hand { opacity: 1; }

@media not screen and (prefers-reduced-motion: reduce) {
	#open-hand { transition: opacity .02s linear; }

	#horn-hand { transition: opacity .02s linear; }

	.sigil:hover #sigil_spiral {
		animation: rotateSpiral linear 1.5s;
		animation-fill-mode: forwards;
		transform-origin: center;
	}

	.sigil:hover .orbit {
		animation: rotateOrbits 2s;
		animation-fill-mode: forwards;
		transform-origin: center;
	}

	@keyframes rotateSpiral {
		from {
			opacity: 1;
			transform: rotate(0deg) scale(1);
		}
		to {
			opacity: 0;
			transform: rotate(360deg) scale(0);
		}
	}

	@keyframes rotateOrbits {
		from { transform: rotate(0deg) scale(1); }
		to { transform: rotate(360deg) scale(0); }
	}
}
