.site-footer {
	font-size: em(14, 18);
	background-color: var(--site-footer-bg);
	color: var(--site-footer-text);
	display: grid;
	grid-template-columns: var(--main-grid);
	grid-column-gap: var(--grid-gap);
	box-sizing: border-box;
	margin-top: rem(64);
	padding-top: rem(64);
	padding-bottom: rem(64);

	a {
		color: var(--site-footer-link);
	}

	a:hover {
		color: var(--site-footer-link--hover);
	}
}

.social-nav,
.site-footer-content {
	grid-column: main-content;
}
