.site-footer {
	position: relative;
	font-size: em(14, 18);
	box-sizing: border-box;
	margin-top: rem(64);
	padding-top: rem(64);
	padding-bottom: rem(64);
}

.social-nav,
.site-footer-content {
	grid-column: wide;
}

.site-footer-content {
	color: var(--siteFooterColor);
}

#tentacle {
	position: fixed;
	top: 0;
	right: 0;
	z-index: -1;
	max-width: rem(500);
}
