.site-nav {
	display: flex;
	margin: rem(32) 0 0;
	padding-left: 0;
	list-style: none;
}

.nav-item {
	flex: 0 0 auto;
	margin-right: rem(32);
}

.nav-link {
	text-transform: uppercase;
	text-decoration: none;
	color: var(--siteNavLinkColor);
	font-weight: bolder;
	position: relative;
	z-index: 0;
	transition: transform 0.2s linear;
	display: inline-block;
	line-height: 1;
}

.nav-link--current-section,
.nav-link:focus,
.nav-link:hover {
	color: var(--siteNavLinkColor--hover);
}
