.site-nav {
	background-color: var(--white);
	display: flex;
	margin: 0;
	padding-left: 0;
	list-style: none;
}

.nav-item {
	flex: 0 0 auto;
	margin-left: rem(32);
}

.nav-link {
	text-transform: uppercase;
	text-decoration: none;
	color: var(--black);
	font-weight: bolder;
	position: relative;
	z-index: 0;
	transition: transform .2s linear;
	display: inline-block;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transform: translateY(100%) scale(1);
		opacity: 0;
		transition: transform .2s linear, opacity .2s linear;
		z-index: -1;
		background-position: center center;
		background-repeat: no-repeat;
	}

	&:focus,
	&:hover {
		color: var(--black);
		transform: translateY(#{rem(-10)});
	}

	&:focus:after,
	&:hover:after {
		transform: translateY(0) scale(1);
		opacity: 1;
	}
}

.nav-item:nth-child(1) .nav-link:after {
	background-image: url(/assets/img/icons.svg#shape3);
}

.nav-item:nth-child(2) .nav-link:after {
	background-image: url(/assets/img/icons.svg#shape2);
}

.nav-item:nth-child(3) .nav-link:after {
	background-image: url(/assets/img/icons.svg#shape1);
}
