table {
	width: 100%;
	table-layout: fixed;
}

thead { border-bottom: 1px solid var(--darkBlue); }

thead th {
	text-align: left;
	padding: rem(8) 0;
}

tbody td {
	padding: rem(8) rem(12) rem(8) 0;
	font-size: em(13);
}

tbody tr + tr td {
	border-top: 1px solid var(--mutedBlue);
}
