.summary+.summary {
	margin-top: rem(40);
}

.summary-heading {
	font-size: em(24, 18);
	margin: 0;
}

.summary-dateline {
	font-style: italic;
	font-weight: bold;
	color: var(--datelineColor);
	margin-top: rem(4);
	margin-bottom: 0;
}

.summary-description {
	margin-top: rem(4);
	margin-bottom: 0;
}
