.scroll-wrapper {
	position: relative;
}

.page-footer {
	background-color: var(--theme_pageFooterBG, var(--blueBlack));
	padding: rem(32);
	margin-top: rem(128);
	position: relative;
}

.landscape-wrapper {
	transform: translateY(rem(128));
	position: absolute;
	bottom: 0;
	right: 0;
	width: min(100%, 800px);
	z-index: -2;
}

.moonscape-wrapper {
	max-width: rem(800);
	margin-left: auto;
	transform: translateY(rem(130));
	position: sticky;
	bottom: 0;
	z-index: -1;
}

.social-nav__list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-top: 0;
	gap: rem(16);
	font-family: monospace;
}

.work-link {
	margin-bottom: 2rem;
	display: inline-block;
}

.legal {
	margin-block: .5rem;
}
