@supports (display: flex) and (not (display: grid)) {
	.homepage-header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		@media (min-width: rem(805)) {
			flex-direction: row;
		}

		@media (min-width: rem(832)) {
			margin: rem(32) auto 0;
		}
	}

	.homepage-heading-wrapper {
		@media (min-width: rem(805)) {
			margin-left: rem(32);
		}
	}
}

@supports (display: grid) {
	.homepage-header {
		display: flex;
		flex-direction: column;
		align-items: center;

		@media (min-width: rem(578)) {
			display: grid;
			grid-template-columns: minmax(#{rem(90)}, rem(250)) 1fr;
			grid-gap: rem(32);
		}
	}
}
