---
pagination:
  data: collections.blogPosts
  size: 1
  alias: post
  addAllPagesToCollections: true
permalink: '{{ post.permalink }}'
includePrism: true
layout: base
---
<article class="h-entry container container--blog-post">
	<header class="blog-header">
		<h1 class="blog-heading p-name">{{ post.title }}</h1>
		{% if post.description %}<p role="doc-subtitle" class="blog-description p-summary">{{ post.description }}</p>{% endif %}
	</header>

	<div class="blog-details">
		<p class="blog-dateline">
			<time class="dt-published" datetime="{{ post.published_at | machineTime }}">This was originally published on {{ post.published_at | htmlDateString }}</time>{% if post.updated %}<time class="dt-updated" datetime="{{ post.updated | machineTime }}">, and updated {{ post.updated | htmlDateString }}</time>{% endif %}.
		</p>
	</div>

	<div class="blog-post e-content">
		{{ post.parsed }}
		{% if post.footnotes %}
			<section class="blog-footnotes" id="footnotes">
				<h2 class="blog-footnotes-heading">Footnotes</h2>
				<ol>
					{% for note in post.footnotes %}
						<li class="footnote" id="note{{ forloop.index }}">{{ note }}</li>
					{% endfor %}
				</ol>
			</section>
		{% endif %}
	</div>
</article>
<script type="application/ld+json">
	{
		"@context": "https://schema.org",
		"@graph": [{
			"@context": "https://schema.org",
			"@type": "BreadcrumbList",
			"itemListElement": [{
				"@type": "ListItem",
				"position": 1,
				"name": "Wrote",
				"item": "https://tattooed.dev/wrote"
			},{
				"@type": "ListItem",
				"position": 1,
				"name": "{{ post.title }}",
				"item": "https://tattooed.dev/{{ post.permalink }}"
			}]
		},
		{
			"@context":"http://schema.org",
			"@type":"BlogPosting",
			"@id":"https://tattooed.dev/{{ post.permalink }}",
			"dateCreated": "{{ post.published_at | machineTime }}",
			"datePublished": "{{ post.published_at | machineTime }}",
			{% if modified %}"dateModified": "{{ modified | machineTime }}",{% endif %}
			"mainEntityOfPage": {
				"@type": "WebPage",
				"@id": "https://tattooed.dev"
			},
			"headline":"{{ post.title }}",
			"description":"{{ post.description }}",
			"articleSection": "posts",
			"image": {
				"@type": "ImageObject",
				"url": "{{ post.cover_image.url | default: site.ogp.image }}"
			},
			"author": [
				{
					"@type": "Person",
					"name": "Vince Falconi"
				}
			],
			"creator": [
				"Vince Falconi"
			],
			"publisher": {
				"@type": "Organization",
				"name": "Vince Falconi",
				"logo": {
					"@type": "imageObject",
					"url": "https://tattooed.dev/assets/img/small-profile-picture.jpg",
					"width": "100"
				}
			}
		}]
	}
</script>
