---
permalink: feed.xml
---
<feed xmlns="http://www.w3.org/2005/Atom" xmlns:webfeeds="http://webfeeds.org/rss/1.0">
  <title>{{ site.title }}</title>
  <subtitle>{{ site.feed.subtitle }}</subtitle>
  <link href="{{ site.feed.url }}" rel="self"/>
  <link href="{{ site.url }}"/>
  <updated>{{ collections.blogPosts | apiRSSLastUpdated }}</updated>
  <id>{{ site.feed.id }}</id>
	<author>
    <name>{{ site.feed.author.name }}</name>
  </author>
  {% for post in collections.blogPosts %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(site.url) }}{% endset %}
  <entry>
    <title>{{ post.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ post.published_at | RSSTimeFormat }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">
			{{ post.parsed }}
			{% set replySubject = 're: ' ~ post.title %}
			<a href="mailto:comments@tattooed.dev?subject={{ replySubject|urlencode }}">Reply to this post</a>
		</content>
		<webfeeds:featuredImage url="{{ site.url ~ post.cover_image.uri }}" />
  </entry>
  {% endfor %}
</feed>
