---
permalink: humans.txt
---
/* TEAM */

Sr. Web Janitor: Vince Falconi
Twitter: @{{ site.profiles.twitter }}
GitHub: @{{ site.profiles.github }}
Keybase: @{{ site.profiles.keybase }}

/* SITE */
Last Update: {% currentTime %}
Standards: HTML5, CSS3
