---
layout: base
---


<header class="page-header">
	{% include sigil--main %}
	{% include site-nav %}
</header>

<main role="main">
	<div class="container">
		<h2 class="section-heading">Recent Posts</h2>
		{% assign posts = collections.blogPosts | reverse %}
		{% for post in posts %}
			{% if forloop.index <= 3 and post.rssOnly != true %}
				<article class="summary">
					<h3 class="summary-heading"><a href="{{ post.url }}"><time datetime="{{ post.date | machineTime }}">{{ post.date | htmlDateString }}</time>: {{ post.title }}</a></h3>
					{% if post.description %}<p>{{ post.description }}</p>{% endif %}
					<div><a href="{{ post.url }}">Read post</a></div>
				</article>
			{% endif %}
		{% endfor %}
		<div class="more-link">
			<a href="/wrote">Blog archive</a>
		</div>
	</div>
</main>

<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "WebSite",
		"url": "https://tattooed.dev/",
		"name": "tattooed.dev: vince falconi"
	}
</script>
