---
layout: base
permalink: /
---
<div class="container">

	<div class="intro">
		<picture class="intro-picture">
			<source srcset="/assets/img/homepage-portrait-1x.avif" type="image/avif" sizes="1x" />
			<source srcset="/assets/img/homepage-portrait-1.5x.avif" type="image/avif" sizes="1.5x" />
			<source srcset="/assets/img/homepage-portrait-2x.avif" type="image/avif" sizes="2x" />
			<source srcset="/assets/img/homepage-portrait-1x.webp" type="image/webp" sizes="1x" />
			<source srcset="/assets/img/homepage-portrait-1.5x.webp" type="image/webp" sizes="1.5x" />
			<source srcset="/assets/img/homepage-portrait-2x.webp" type="image/webp" sizes="2x" />
			<source srcset="/assets/img/homepage-portrait-1x.jpg" type="image/jpeg" sizes="1x" />
			<source srcset="/assets/img/homepage-portrait-1.5x.jpg" type="image/jpeg" sizes="1.5x" />
			<source srcset="/assets/img/homepage-portrait-2.jpg" type="image/jpeg" sizes="2" />
			<img class="intro-img" src="/assets/img/homepage-portrait-1x.jpg" alt="A bald man with a dark beard, with grey around his mouth, smiling and waving. He is wearing a dark blue shirt with small white dots, with the sleeves rolled up just past his wrists." width="600" height="400" loading="lazy" />
		</picture>

		<h1 class="intro-heading page-heading">Hi. I'm Vince Falconi.</h1>
		<div class="intro-message">
			<p>I am a security-minded web developer, but I am also <span class="highlighted" data-description>a tattoo-collector</span>, <span class="highlighted" data-description>a weightlifter</span>, and <span class="highlighted" data-description>a gardener</span>.</p>
			<p>You've found my personal digital garden where I tinker with code and <a href="/wrote">write</a>.</p>
		</div>
	</div>

	<div class="recent-posts">
		<h2 class="section-heading">Recent Posts</h2>
		{% assign posts = collections.blogPosts | reverse %}
		{% for post in posts %}
			{% if forloop.index <= 3 and post.rssOnly != true %}
				<article class="summary">
					<h3 class="summary-heading"><a href="{{ post.url }}">{{ post.title }}</a></h3>
					{% if post.description %}<p class="summary-description">{{ post.description }}</p>{% endif %}
					<p class="summary-dateline"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %e" }}</time></p>
				</article>
			{% endif %}
		{% endfor %}
		<div class="more-link">
			<a href="/wrote">Blog archive</a>
		</div>
	</div>
</div>
<script src="/assets/homepage.js" async></script>
<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "WebSite",
		"url": "https://tattooed.dev/",
		"name": "tattooed.dev: vince falconi"
	}
</script>
