---
layout: base
permalink: /
---
<div class="container">

	<div class="intro">
		<picture class="intro-picture">
			<source srcset="/assets/img/intro-image-1x.jpg 1x, /assets/img/intro-image-15x.jpg 1.5x, /assets/img/intro-image-2x.jpg 2x" />
			<img class="intro-img" src="/assets/img/intro-image-1x.jpg" alt="[[ WRITE ALT TEXT ]]" width="600" height="400" loading="lazy" />
		</picture>

		<h1 class="intro-heading">Hi. I'm Vince Falconi.</h1>
		<div class="intro-message">
			<p>I have a lot of tattoos, and I'm a developer. By these powers combined, I work to make the web <b class="highlighted">fast</b>, <b class="highlighted">secure</b>, and <b class="highlighted">accessible</b>.</p>
		</div>
	</div>

	<div class="recent-posts">
		<h2 class="section-heading">Recent Posts</h2>
		{% assign posts = collections.blogPosts | reverse %}
		{% for post in posts %}
			{% if forloop.index <= 3 and post.rssOnly != true %}
				<article class="summary">
					<h3 class="summary-heading"><a href="{{ post.url }}">{{ post.title }}</a></h3>
					{% if post.description %}<p class="summary-description">{{ post.description }}</p>{% endif %}
					<p class="summary-dateline"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d" }}</time></p>
				</article>
			{% endif %}
		{% endfor %}
		<div class="more-link">
			<a href="/wrote">Blog archive</a>
		</div>
	</div>
</div>

<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "WebSite",
		"url": "https://tattooed.dev/",
		"name": "tattooed.dev: vince falconi"
	}
</script>
